@shepherd23-internal:registry=https://asia-northeast3-npm.pkg.dev/shepherd23/npm-internal/
//asia-northeast3-npm.pkg.dev/shepherd23/npm-internal/:always-auth=true
strict-peer-dependencies=false
auto-install-peers=true
